a {
 	text-decoration: none !important; 
}

* {
	margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.endless_container {
	width: 164px !important;
	margin-bottom: 64px !important;
	margin-left: 64px !important;
	border: solid;
	border-width: 0.5px;
	border-color: #e5e5e5;
	text-align: center;
	padding-top: 16px;
	padding-bottom: 16px;
	font-size: 1.1em;
}

.endless_more {
	color: #3e3e3e !important;
	text-decoration: none !important;
}

.page-wrap {
  height: 100%;
  position: relative;
}

.container {
	height: 100%;
}

#upleft {
	position:fixed; 
	top:0;
	width: 340px;
	height:100%;
	background-color: #2e2e2e;
	float: left;
}

#upright {
	margin-left: 340px;
	min-height: 100%;
	padding-top: 114px;
}

#upright_hc {
	margin-left: 340px;
	min-height: 100%;
	padding-top: 44px;
}

#upright_about {
	margin-left: 340px;
	min-height: 100%;
	padding-top: 44px;
}

.clear {
	clear: both;
}

.logo {
	padding-top: 44px;
	padding-left: 32px;
	padding-bottom:44px;
}

.honeycombs {
	margin-top: 4px;
	margin-bottom: 2px;
}

.hcs {
	color:#ffffff;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 1.2em;
	padding-left: 32px;
	margin-bottom: 18px;
}

.hcs:hover {
	color: #77b729;
}

.panel-title-f {
	font-size: 2.4em;
	color: #3e3e3e;
	padding-left: 64px;
}

.panel-title {
	font-size: 1.4em;
	color: #3e3e3e;
}

.panel-title:hover {
	color: #ffcb00;
}

.flower-title {
	padding-top: 12px;
	font-size: 1.6em;
	color: #ffcb00;;
}

.seed-title {
	font-size: 1em;
	display: inline-block;
	color: #3e3e3e;
}

.seed-title:hover {
	color:#ffcb00;
}

.panel-info {
	padding-top: 16px;
	font-size: 1em;
}

.flower-info {
	margin-bottom: 32px;
	font-size: 1em;
}
.seed-info {
	display: inline-block;
	padding-left: 16px;
	font-size: 0.9em;
}

.seed-type {
	display: inline-block;
	margin-right: 16px;
	color: #3e3e3e;
}

.content-info{
	padding-top: 32px;
	margin-bottom: 32px;
	font-size: 1.2em;
	padding-left: 64px;
}

.date {
	padding-top: 8px;
	font-size: 0.9em;
	padding-left: 64px;
	color: #b2b2b2;
}

.honey_recommend {
	height: 120px;
}

.site-footer {
	height: 164px;
	background-color: #2e2e2e;
}

.footer-paragraph:first-child {
	padding-top: 54px;
}

.footer-paragraph {
	padding-top: 6px;
	padding-left: 32px;
	text-align: left;
	color: #7f7f7f;
	font-weight: 200;
	font-size: 0.9em;
}

table {
	border: #e5e5e5;
	border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: solid;
    border-width: 0.5px;
}

td {
	padding: 10px 0px 10px 64px;
}

td > a {
	text-decoration: none !important;
}

#f-table {
	padding: 16px 0px 8px 0px;
}

#flower-table {
	margin-top: 48px;
	margin-left: 64px;
	border: #e5e5e5;
	border-width: 0.5px;
	border-top-style: solid;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    width: 650px;
}

#s-table {
	padding: 16px 0px 8px 16px;
}

#seed-table {
	border: #e5e5e5;
	border-width: 0.5px;
	border-top-style: solid;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    width: 540px;
}

.about-title {
	position: fixed;
	font-size: 1.8em;
	color: #ffffff;
	padding-left: 64px;
}

.about-image {
	margin-top: -152px;
	width:100%;
	position: relative;
	z-index: -10;
}

.about-content {
	position: fixed;
	color: #ffffff;
	margin-top: 82px;
	padding-left: 64px;
}

