<!doctype html>
{% load staticfiles %}
<html>
<head>
	<meta charset="utf-8">
	<title>LIFESIGNAGE | 모든 순간의 이정표</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'css/poster.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
</head>
<body>
	<div class="page-wrap">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="upleft">
						<a href="/"><p class="title">LIFESIGNAGE</p></a>
						{% for hc in hc_list %}
							<div class="honeycombs">
								<a href="/{{hc.name}}"><div class="hcs">{{hc.name}}</div></a>
							</div>
						{% endfor %}
						<div class="site-footer">
							<p class="footer-paragraph"><a href="/about" style="color:#ffffff; text-decoration:none !important;">About</a></p>
							<p class="footer-paragraph">Copyright © 2017 By LIFESIGNAGE. All right reserved.</p>
						</div>
					</div>

					<div id="upright">

				about page
					</div>
				</div>
			</div>		
		</div>
	</div>
</body>	
</html>