<!doctype html>
{% load staticfiles %}
<html>
<head>
	<meta charset="utf-8">
	<title>LIFESIGNAGE | 모든 순간의 이정표</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'css/poster.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
</head>
<body>
	<div class="page-wrap">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="upleft">
						<a href="/"><img class="logo" src="{% static 'img/lifesignage_logo_r.png' %}"></a>
						{% for hc in hc_list %}
							<div class="honeycombs">
								<a href="/{{hc.name}}"><div class="hcs">{{hc.title}}</div></a>
							</div>
						{% endfor %}
						<div class="site-footer">
							<p class="footer-paragraph"><a href="/about" style="color:#7f7f7f; text-decoration:none !important;">About</a></p>
							<p class="footer-paragraph">Copyright © LIFESIGNAGE. All right reserved.</p>
						</div>
					</div>

					<div id="upright_hc">

						<div class="panel-title-f">{{honey.name}}</div>
						<div class="date"><span class="label label-default" style="margin-right: 8px;">{{honey.honeycomb.title}}</span>{{honey.created_date}}</div>
						<div class="content-info">{{honey.info|linebreaks}}</div>

						{% for f in flower %}
							<table id="flower-table">
								<tr>
									  <td id="f-table">
									    <p class="flower-title">{{f.name}}</p>
									  	<p class="flower-info">{{f.info}}</p>

									  	{% for s in f.link.all %}
									  	<a href="{{s.link}}" target="_new">
									  	<table id="seed-table">
									  		<tr>
									  			<td id="s-table">
									  				
								  					{% if s.selfcontent = 1 %}
									  				<p class="seed-type"><span class="glyphicon glyphicon-link"></span></p>
								  					{% else %}
								  					<p class="seed-type"><span class="glyphicon glyphicon-asterisk"></span></p>
								  					{% endif %}
									  				<p class="seed-title">{{s.name}}</p>
												  	<p class="seed-info" style="color:#7f7f7f; text-decoration:none !important;">{{s.info}}</p>
									  			</td>
									  		</tr>
									  	</table>
									    </a>
									    {% endfor %}

									  </td>
								</tr>
							</table>
							
						{% endfor %}

						<div class="honey_recommend">

						</div> 

					</div>
				</div>
			</div>		
		</div>
	</div>
</body>	
</html>