<!doctype html>
{% load staticfiles %}
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'css/poster.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<header>
					<a href="/"><p class="title">LIFESIGNAGE</p></a>
					{% for hc in hc_list %}
						<div class="honeycombs">
							<a href="/{{hc.name}}"><div class="hcs">{{hc.name}}</div></a>
						</div>
					{% endfor %}
				</header>

				{% for hc in honey %}
				    <a href="/{{hc.pk}}">
					<div class="panel panel-default">
					  <div class="panel-heading">
					    <h3 class="panel-title">{{hc.name}}</h3></a>
					  </div>
					  <div class="panel-body">
					    {{hc.info}}
					    {{hc.created_date}}
					  </div>
					</div>
					</a>
				{% endfor %}
				</div>

				<footer>

				</footer>
			</div>
		</div>
	</div>	
</body>	
</html>