<!doctype html>
{% load staticfiles %}
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'css/poster.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<header>
					<a href="/"><p class="title">LIFESIGNAGE</p></a>
				</header>

				{{honey.name}}

				{% for f in flower %}
				    <a href="">
					<div class="panel panel-default">
					  <div class="panel-heading">
					    <a href="{{f.link}}" target="_new"><h3 class="panel-title">{{f.name}}</h3></a>
					  </div>
					  <div class="panel-body">
					  	{{f.info}}
					    {{f.created_date}}
					  </div>
					</div>
					</a>
				{% endfor %}
				</div>

				<footer>

				</footer>
			</div>
		</div>
	</div>	
</body>	
</html>